$background-color: limegreen;

body {
  background: radial-gradient(at top left, $background-color, darken($background-color, 10%));
  //margin: 0; //maybe important
  background-repeat: no-repeat;
  background-attachment: fixed;
}
